env.py
__init__.py
/venv
/django_project/migrations
.idea/
.idea/workplace.xml
django_project/authentication/__pycache__/
/__pycache__
django_project/blog/migrations/
*.pyc
/static/rest_framework/
/static/admin/
*.save
*.swp
*.swo
